In [66]:
import pandas as pd
df_state = pd.read_csv('./us-states.csv')

#State-code dict
Code_map = {}
df = pd.read_csv('../state_code.csv')
for idx, row in df.iterrows():
    Code_map[row['Code']] =  row['State']
print(Code_map)

{'AL': 'Alabama', 'AK': 'Alaska', 'AZ': 'Arizona', 'AR': 'Arkansas', 'CA': 'California', 'CO': 'Colorado', 'CT': 'Connecticut', 'DE': 'Delaware', 'DC': 'District of Columbia', 'FL': 'Florida', 'GA': 'Georgia', 'HI': 'Hawaii', 'ID': 'Idaho', 'IL': 'Illinois', 'IN': 'Indiana', 'IA': 'Iowa', 'KS': 'Kansas', 'KY': 'Kentucky', 'LA': 'Louisiana', 'ME': 'Maine', 'MD': 'Maryland', 'MA': 'Massachusetts', 'MI': 'Michigan', 'MN': 'Minnesota', 'MS': 'Mississippi', 'MO': 'Missouri', 'MT': 'Montana', 'NE': 'Nebraska', 'NV': 'Nevada', 'NH': 'New Hampshire', 'NJ': 'New Jersey', 'NM': 'New Mexico', 'NY': 'New York', 'NC': 'North Carolina', 'ND': 'North Dakota', 'OH': 'Ohio', 'OK': 'Oklahoma', 'OR': 'Oregon', 'PA': 'Pennsylvania', 'RI': 'Rhode Island', 'SC': 'South Carolina', 'SD': 'South Dakota', 'TN': 'Tennessee', 'TX': 'Texas', 'UT': 'Utah', 'VT': 'Vermont', 'VA': 'Virginia', 'WA': 'Washington', 'WV': 'West Virginia', 'WI': 'Wisconsin', 'WY': 'Wyoming'}

In [73]:
df_counties = pd.read_csv('./us-counties.csv')

df_land_counties = pd.read_excel('../LND01.xls')
df_land_counties = df_land_counties[['Areaname','LND010190D']]
drop_list = []
for idx, row in df_land_counties.iterrows():
    if row["Areaname"][-4] != ',':
       drop_list.append(idx)
    else:
        df_land_counties.at[idx, "State"] = Code_map[row['Areaname'][-2:]]
        df_land_counties.at[idx, 'Areaname'] = row['Areaname'][:-4]
        
df_land_counties = df_land_counties.drop(drop_list)

        Areaname  LND010190D    State
2        Autauga      604.49  Alabama
3        Baldwin     2027.08  Alabama
4        Barbour      904.59  Alabama
5           Bibb      625.50  Alabama
6         Blount      650.65  Alabama
...          ...         ...      ...
3193  Sweetwater    10491.73  Wyoming
3194       Teton     4221.96  Wyoming
3195       Uinta     2087.66  Wyoming
3196    Washakie     2242.85  Wyoming
3197      Weston     2400.13  Wyoming

[3145 rows x 3 columns]

In [55]:
df_pop_counties = pd.read_csv('../co-est2020.csv', encoding = "ISO-8859-1")
df_pop_counties = df_pop_counties[['STNAME', 'CTYNAME','POPESTIMATE2020']]
drop_list = []

## Remove Total population fo df_pop_counties!
for idx, row in df_pop_counties.iterrows():
    if len(row['CTYNAME']) == len(row['STNAME']):
       drop_list.append(idx)
    else:
        df_pop_counties.at[idx, 'CTYNAME'] = row['CTYNAME'][:-7]
df_pop_counties = df_pop_counties.drop(drop_list)

print(df_pop_counties)

       STNAME     CTYNAME  POPESTIMATE2020
1     Alabama     Autauga            56145
2     Alabama     Baldwin           229287
3     Alabama     Barbour            24589
4     Alabama        Bibb            22136
5     Alabama      Blount            57879
...       ...         ...              ...
3189  Wyoming  Sweetwater            42673
3190  Wyoming       Teton            23497
3191  Wyoming       Uinta            20215
3192  Wyoming    Washakie             7760
3193  Wyoming      Weston             6743

[3069 rows x 3 columns]

### DF population density

In [89]:
df_density = pd.read_csv("../uscities_population.csv")
state_den = {}
state_county_highD = {}
for idx, row in df_density.iterrows():
    if row['state_name'] not in state_den:
        state_den[row['state_name']] = row['density']
        state_county_highD[row['state_name']] = row['county_name']
    else:
        if (state_den[row['state_name']] < row['density']):
            state_den[row['state_name']] = row['density']
            state_county_highD[row['state_name']] = row['county_name']

print(state_den)
print(state_county_highD)

{'New York': 27545, 'California': 8837, 'Illinois': 5423, 'Florida': 8413, 'Texas': 8293, 'Pennsylvania': 6042, 'Georgia': 2695, 'District of Columbia': 4457, 'Massachusetts': 7619, 'Arizona': 4436, 'Washington': 3469, 'Michigan': 3980, 'Minnesota': 4283, 'Colorado': 4102, 'Maryland': 34277, 'Nevada': 2475, 'Oregon': 3700, 'Missouri': 3644, 'Ohio': 3460, 'Indiana': 2205, 'North Carolina': 2053, 'Virginia': 4948, 'Wisconsin': 3192, 'Rhode Island': 6320, 'Utah': 3028, 'Tennessee': 1004, 'Louisiana': 2628, 'Kentucky': 6406, 'Oklahoma': 1482, 'Connecticut': 3470, 'Nebraska': 1702, 'Hawaii': 5749, 'New Mexico': 3237, 'Alabama': 1223, 'South Carolina': 1490, 'Kansas': 2475, 'Iowa': 2300, 'Arkansas': 1086, 'Idaho': 1436, 'Mississippi': 2229, 'Puerto Rico': 5949, 'New Jersey': 22246, 'Alaska': 838, 'New Hampshire': 1315, 'North Dakota': 1293, 'Maine': 1185, 'South Dakota': 1205, 'West Virginia': 1965, 'Montana': 1439, 'Delaware': 2536, 'Vermont': 1974, 'Wyoming': 1378}
{'New York': 'New York', 'California': 'Los Angeles', 'Illinois': 'Cook', 'Florida': 'Miami-Dade', 'Texas': 'Starr', 'Pennsylvania': 'Delaware', 'Georgia': 'DeKalb', 'District of Columbia': 'District of Columbia', 'Massachusetts': 'Middlesex', 'Arizona': 'Yuma', 'Washington': 'King', 'Michigan': 'Wayne', 'Minnesota': 'Washington', 'Colorado': 'Arapahoe', 'Maryland': 'Montgomery', 'Nevada': 'Clark', 'Oregon': 'Marion', 'Missouri': 'St. Louis', 'Ohio': 'Cuyahoga', 'Indiana': 'Porter', 'North Carolina': 'Union', 'Virginia': 'Fairfax', 'Wisconsin': 'Milwaukee', 'Rhode Island': 'Providence', 'Utah': 'Salt Lake', 'Tennessee': 'Hamilton', 'Louisiana': 'Jefferson', 'Kentucky': 'Jefferson', 'Oklahoma': 'Alfalfa', 'Connecticut': 'Fairfield', 'Nebraska': 'Douglas', 'Hawaii': 'Honolulu', 'New Mexico': 'Eddy', 'Alabama': 'Jefferson', 'South Carolina': 'Berkeley', 'Kansas': 'Sedgwick', 'Iowa': 'Scott', 'Arkansas': 'Desha', 'Idaho': 'Latah', 'Mississippi': 'Lafayette', 'Puerto Rico': 'Caguas', 'New Jersey': 'Hudson', 'Alaska': 'Ketchikan Gateway', 'New Hampshire': 'Hillsborough', 'North Dakota': 'Sioux', 'Maine': 'Cumberland', 'South Dakota': 'Lincoln', 'West Virginia': 'Jefferson', 'Montana': 'Gallatin', 'Delaware': 'New Castle', 'Vermont': 'Chittenden', 'Wyoming': 'Teton'}

In [5]:
## Recent data 10days!
df_counties_recent = pd.read_csv('./us-counties-recent.csv')
print(df_counties_recent)

             date      county    state     fips  cases  deaths
0      2021-09-26     Autauga  Alabama   1001.0   9667   137.0
1      2021-09-26     Baldwin  Alabama   1003.0  36242   495.0
2      2021-09-26     Barbour  Alabama   1005.0   3472    70.0
3      2021-09-26        Bibb  Alabama   1007.0   4093    81.0
4      2021-09-26      Blount  Alabama   1009.0   9720   157.0
...           ...         ...      ...      ...    ...     ...
97469  2021-10-25  Sweetwater  Wyoming  56037.0   7469    79.0
97470  2021-10-25       Teton  Wyoming  56039.0   5152    14.0
97471  2021-10-25       Uinta  Wyoming  56041.0   3794    26.0
97472  2021-10-25    Washakie  Wyoming  56043.0   1689    33.0
97473  2021-10-25      Weston  Wyoming  56045.0   1041     9.0

[97474 rows x 6 columns]