In [66]:
import pandas as pd
df_state = pd.read_csv('./us-states.csv')

#State-code dict
Code_map = {}
df = pd.read_csv('../state_code.csv')
for idx, row in df.iterrows():
    Code_map[row['Code']] =  row['State']
print(Code_map)

{'AL': 'Alabama', 'AK': 'Alaska', 'AZ': 'Arizona', 'AR': 'Arkansas', 'CA': 'California', 'CO': 'Colorado', 'CT': 'Connecticut', 'DE': 'Delaware', 'DC': 'District of Columbia', 'FL': 'Florida', 'GA': 'Georgia', 'HI': 'Hawaii', 'ID': 'Idaho', 'IL': 'Illinois', 'IN': 'Indiana', 'IA': 'Iowa', 'KS': 'Kansas', 'KY': 'Kentucky', 'LA': 'Louisiana', 'ME': 'Maine', 'MD': 'Maryland', 'MA': 'Massachusetts', 'MI': 'Michigan', 'MN': 'Minnesota', 'MS': 'Mississippi', 'MO': 'Missouri', 'MT': 'Montana', 'NE': 'Nebraska', 'NV': 'Nevada', 'NH': 'New Hampshire', 'NJ': 'New Jersey', 'NM': 'New Mexico', 'NY': 'New York', 'NC': 'North Carolina', 'ND': 'North Dakota', 'OH': 'Ohio', 'OK': 'Oklahoma', 'OR': 'Oregon', 'PA': 'Pennsylvania', 'RI': 'Rhode Island', 'SC': 'South Carolina', 'SD': 'South Dakota', 'TN': 'Tennessee', 'TX': 'Texas', 'UT': 'Utah', 'VT': 'Vermont', 'VA': 'Virginia', 'WA': 'Washington', 'WV': 'West Virginia', 'WI': 'Wisconsin', 'WY': 'Wyoming'}

### DF population density

In [89]:
df_density = pd.read_csv("../uscities_population.csv")
state_den = {}
state_county_highD = {}
for idx, row in df_density.iterrows():
    if row['state_name'] not in state_den:
        state_den[row['state_name']] = row['density']
        state_county_highD[row['state_name']] = row['county_name']
    else:
        if (state_den[row['state_name']] < row['density']):
            state_den[row['state_name']] = row['density']
            state_county_highD[row['state_name']] = row['county_name']

print(state_den)
print(state_county_highD)

{'New York': 27545, 'California': 8837, 'Illinois': 5423, 'Florida': 8413, 'Texas': 8293, 'Pennsylvania': 6042, 'Georgia': 2695, 'District of Columbia': 4457, 'Massachusetts': 7619, 'Arizona': 4436, 'Washington': 3469, 'Michigan': 3980, 'Minnesota': 4283, 'Colorado': 4102, 'Maryland': 34277, 'Nevada': 2475, 'Oregon': 3700, 'Missouri': 3644, 'Ohio': 3460, 'Indiana': 2205, 'North Carolina': 2053, 'Virginia': 4948, 'Wisconsin': 3192, 'Rhode Island': 6320, 'Utah': 3028, 'Tennessee': 1004, 'Louisiana': 2628, 'Kentucky': 6406, 'Oklahoma': 1482, 'Connecticut': 3470, 'Nebraska': 1702, 'Hawaii': 5749, 'New Mexico': 3237, 'Alabama': 1223, 'South Carolina': 1490, 'Kansas': 2475, 'Iowa': 2300, 'Arkansas': 1086, 'Idaho': 1436, 'Mississippi': 2229, 'Puerto Rico': 5949, 'New Jersey': 22246, 'Alaska': 838, 'New Hampshire': 1315, 'North Dakota': 1293, 'Maine': 1185, 'South Dakota': 1205, 'West Virginia': 1965, 'Montana': 1439, 'Delaware': 2536, 'Vermont': 1974, 'Wyoming': 1378}
{'New York': 'New York', 'California': 'Los Angeles', 'Illinois': 'Cook', 'Florida': 'Miami-Dade', 'Texas': 'Starr', 'Pennsylvania': 'Delaware', 'Georgia': 'DeKalb', 'District of Columbia': 'District of Columbia', 'Massachusetts': 'Middlesex', 'Arizona': 'Yuma', 'Washington': 'King', 'Michigan': 'Wayne', 'Minnesota': 'Washington', 'Colorado': 'Arapahoe', 'Maryland': 'Montgomery', 'Nevada': 'Clark', 'Oregon': 'Marion', 'Missouri': 'St. Louis', 'Ohio': 'Cuyahoga', 'Indiana': 'Porter', 'North Carolina': 'Union', 'Virginia': 'Fairfax', 'Wisconsin': 'Milwaukee', 'Rhode Island': 'Providence', 'Utah': 'Salt Lake', 'Tennessee': 'Hamilton', 'Louisiana': 'Jefferson', 'Kentucky': 'Jefferson', 'Oklahoma': 'Alfalfa', 'Connecticut': 'Fairfield', 'Nebraska': 'Douglas', 'Hawaii': 'Honolulu', 'New Mexico': 'Eddy', 'Alabama': 'Jefferson', 'South Carolina': 'Berkeley', 'Kansas': 'Sedgwick', 'Iowa': 'Scott', 'Arkansas': 'Desha', 'Idaho': 'Latah', 'Mississippi': 'Lafayette', 'Puerto Rico': 'Caguas', 'New Jersey': 'Hudson', 'Alaska': 'Ketchikan Gateway', 'New Hampshire': 'Hillsborough', 'North Dakota': 'Sioux', 'Maine': 'Cumberland', 'South Dakota': 'Lincoln', 'West Virginia': 'Jefferson', 'Montana': 'Gallatin', 'Delaware': 'New Castle', 'Vermont': 'Chittenden', 'Wyoming': 'Teton'}

In [5]:
## Recent data 10days!
df_counties_recent = pd.read_csv('./us-counties-recent.csv')
print(df_counties_recent)

             date      county    state     fips  cases  deaths
0      2021-09-26     Autauga  Alabama   1001.0   9667   137.0
1      2021-09-26     Baldwin  Alabama   1003.0  36242   495.0
2      2021-09-26     Barbour  Alabama   1005.0   3472    70.0
3      2021-09-26        Bibb  Alabama   1007.0   4093    81.0
4      2021-09-26      Blount  Alabama   1009.0   9720   157.0
...           ...         ...      ...      ...    ...     ...
97469  2021-10-25  Sweetwater  Wyoming  56037.0   7469    79.0
97470  2021-10-25       Teton  Wyoming  56039.0   5152    14.0
97471  2021-10-25       Uinta  Wyoming  56041.0   3794    26.0
97472  2021-10-25    Washakie  Wyoming  56043.0   1689    33.0
97473  2021-10-25      Weston  Wyoming  56045.0   1041     9.0

[97474 rows x 6 columns]

In [10]:
import pandas as pd
import datetime
population = pd.read_csv("../uscities_population.csv")
coest = pd.read_csv("../co-est2020.csv", encoding='ISO-8859-1')
region_states = pd.read_csv("./us-states.csv")
#print(population)
NE_region = {"Maine", "New Hampshire", "Vermont",
"Massachusetts", "Rhode Island", "Connecticut", "New York", "New Jersey", "Pennsylvania"}

MW_region = {"Ohio",
"Michigan", "Indiana", "Wisconsin", "Illinois", "Minnesota", "Iowa",
"Missouri", "North Dakota", "South Dakota", "Nebraska", "Kansas"}
S_region = {"Delaware", "Maryland", "Virginia", "West Virginia", "Kentucky", "North Carolina", "South Carolina",
"Tennessee", "Georgia", "Florida", "Alabama", "Mississippi",
"Arkansas", "Louisiana", "Texas", "Oklahoma"}
W_region = {"Montana", "Idaho", "Wyoming", "Colorado", "New Mexico",
"Arizona", "Utah", "Nevada", "California", "Oregon", "Washington",
"Alaska", "Hawaii"}
region_states['date'] = pd.to_datetime(region_states['date'], format='%Y-%m-%d')
region_states = region_states[region_states['date'] >= pd.Timestamp(2021, 1, 1) ]
# NE_df = population[population['state_name'].isin(NE_region)]
# MW_df = population[population['state_name'].isin(MW_region)]
# S_df = population[population['state_name'].isin(S_region)]
# W_df = population[population['state_name'].isin(W_region)]
# print(sum(NE_df))
agg_funtion = {"cases":'sum', "deaths":'sum' }
NE_region_covid = region_states[region_states['state'].isin(NE_region)][['date','cases','deaths']]
NE_region_covid = NE_region_covid.groupby(NE_region_covid['date']).aggregate(agg_funtion)

MW_region_covid = region_states[region_states['state'].isin(MW_region)]
MW_region_covid = MW_region_covid.groupby(MW_region_covid['date']).aggregate(agg_funtion)
S_region_covid = region_states[region_states['state'].isin(S_region)]
S_region_covid = S_region_covid.groupby(S_region_covid['date']).aggregate(agg_funtion)
W_region_covid = region_states[region_states['state'].isin(W_region)]
W_region_covid = W_region_covid.groupby(W_region_covid['date']).aggregate(agg_funtion)
print(NE_region_covid.head, MW_region_covid.head,S_region_covid.head, W_region_covid.head)
print(NE_region_covid.shape, MW_region_covid.shape,S_region_covid.shape, W_region_covid.shape)

<bound method NDFrame.head of               cases  deaths
date
2021-01-01  2858383   94577
2021-01-02  2904414   94955
2021-01-03  2929990   95298
2021-01-04  3012415   95782
2021-01-05  3050334   96386
...             ...     ...
2021-10-21  6921705  147775
2021-10-22  6935048  147964
2021-10-23  6945063  148082
2021-10-24  6951686  148117
2021-10-25  6965619  148205

[298 rows x 2 columns]> <bound method NDFrame.head of               cases  deaths
date
2021-01-01  4947203   76156
2021-01-02  4995511   76896
2021-01-03  5020243   77213
2021-01-04  5055488   77616
2021-01-05  5089556   78582
...             ...     ...
2021-10-21  9415265  141883
2021-10-22  9442356  142520
2021-10-23  9449674  142528
2021-10-24  9452914  142528
2021-10-25  9483760  142797

[298 rows x 2 columns]> <bound method NDFrame.head of                cases  deaths
date
2021-01-01   7650918  119323
2021-01-02   7769935  120077
2021-01-03   7852679  120564
2021-01-04   7927037  121236
2021-01-05   8025609  122297
...              ...     ...
2021-10-21  18840752  302023
2021-10-22  18863592  303000
2021-10-23  18870112  303249
2021-10-24  18873628  303336
2021-10-25  18903818  304094

[298 rows x 2 columns]> <bound method NDFrame.head of               cases  deaths
date
2021-01-01  4565171   55457
2021-01-02  4642284   55948
2021-01-03  4710519   56131
2021-01-04  4769528   56608
2021-01-05  4833196   57655
...             ...     ...
2021-10-21  9804800  136995
2021-10-22  9828504  137317
2021-10-23  9834345  137390
2021-10-24  9837929  137415
2021-10-25  9867955  137712

[298 rows x 2 columns]>
(298, 2) (298, 2) (298, 2) (298, 2)

In [16]:
pop_state = population['state_id']
state_np = pop_state.drop_duplicates().to_numpy()

['NY' 'CA' 'IL' 'FL' 'TX' 'PA' 'GA' 'DC' 'MA' 'AZ' 'WA' 'MI' 'MN' 'CO'
 'MD' 'NV' 'OR' 'MO' 'OH' 'IN' 'NC' 'VA' 'WI' 'RI' 'UT' 'TN' 'LA' 'KY'
 'OK' 'CT' 'NE' 'HI' 'NM' 'AL' 'SC' 'KS' 'IA' 'AR' 'ID' 'MS' 'PR' 'NJ'
 'AK' 'NH' 'ND' 'ME' 'SD' 'WV' 'MT' 'DE' 'VT' 'WY'] (52,)

In [11]:
print(coest)

      SUMLEV  REGION  DIVISION  STATE  COUNTY   STNAME            CTYNAME  \
0         40       3         6      1       0  Alabama            Alabama
1         50       3         6      1       1  Alabama     Autauga County
2         50       3         6      1       3  Alabama     Baldwin County
3         50       3         6      1       5  Alabama     Barbour County
4         50       3         6      1       7  Alabama        Bibb County
...      ...     ...       ...    ...     ...      ...                ...
3189      50       4         8     56      37  Wyoming  Sweetwater County
3190      50       4         8     56      39  Wyoming       Teton County
3191      50       4         8     56      41  Wyoming       Uinta County
3192      50       4         8     56      43  Wyoming    Washakie County
3193      50       4         8     56      45  Wyoming      Weston County

     CENSUS2010POP  ESTIMATESBASE2010  POPESTIMATE2010  ...  POPESTIMATE2012  \
0          4779736            4780118          4785514  ...          4816632
1            54571              54582            54761  ...            54970
2           182265             182263           183121  ...           190203
3            27457              27454            27325  ...            27172
4            22915              22904            22858  ...            22657
...            ...                ...              ...  ...              ...
3189         43806              43806            43580  ...            45032
3190         21294              21298            21298  ...            21643
3191         21118              21121            21090  ...            21008
3192          8533               8528             8531  ...             8410
3193          7208               7208             7198  ...             7075

      POPESTIMATE2013  POPESTIMATE2014  POPESTIMATE2015  POPESTIMATE2016  \
0             4831586          4843737          4854803          4866824
1               54747            54922            54903            55302
2              194978           199306           203101           207787
3               26946            26768            26300            25828
4               22510            22541            22553            22590
...               ...              ...              ...              ...
3189            45189            44996            44780            44319
3190            22335            22801            23083            23255
3191            20969            20835            20777            20711
3192             8417             8277             8282             8180
3193             7132             7134             7202             7228

      POPESTIMATE2017  POPESTIMATE2018  POPESTIMATE2019  POPESTIMATE042020  \
0             4877989          4891628          4907965            4920706
1               55448            55533            55769              56130
2              212737           218071           223565             227989
3               25169            24887            24657              24652
4               22532            22300            22313              22199
...               ...              ...              ...                ...
3189            43663            43188            42917              42717
3190            23383            23261            23385              23453
3191            20449            20299            20196              20169
3192             8013             7886             7824               7756
3193             6962             6895             6880               6752

      POPESTIMATE2020
0             4921532
1               56145
2              229287
3               24589
4               22136
...               ...
3189            42673
3190            23497
3191            20215
3192             7760
3193             6743

[3194 rows x 21 columns]